


.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}

html {
    height: 100%;
    overscroll-behavior-x: none !important;
    overscroll-behavior-y: none !important;
    overscroll-behavior: none !important;
}




body {
    overscroll-behavior-x: none !important;
    overscroll-behavior-y: none !important;
    overscroll-behavior: none !important;
    overflow: hidden;
    height: 100%;
    // border: 10px solid red;
    // padding: 10px;
}

 .scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.v-dialog--active {
    display: flex;
    background: #fff;
    // @extends .scroll-y;
    // -webkit-overflow-scrolling: touch !important;
}


// .v-label {
//     font-weight: 500;
//     // letter-spacing: 0.03em;
//     // text-transform: uppercase;
//     // &.v-label--active {
//     //     opacity: 0.5;
//     //     font-size: 14px;
//     // }
// }

.v-overlay {
    z-index: 15 !important;
}

.text-muted,
.muted {
    opacity: 0.5;
}



.fa-spin {
  -webkit-animation: fa-spin 0.3s infinite linear;
  animation: fa-spin 0.3s infinite linear;
}

.application {
    @supports (-moz-appearance:none) {
        height: 100%;
    }
}

.toasted-container,
.application {
    font-family: "font-proxima";


    pre {
        background: rgba(#000, 0.05);
        padding: 10px;
        margin: 10px;
    }

    .application--wrap {
        // border: 10px solid red !important;
        min-height: -webkit-fill-available !important;
        height: -webkit-fill-available !important;

        .main-content {
            flex:1;
        }
    }

    //////////////////////////////////////////


    $headings: 'h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6';

    #{$headings} {
        //Affect all headings here
        letter-spacing: -0.02em;


        &.text-muted,
        &.muted,
        .text-muted,
        .muted {
            opacity: 0.5;
            font-weight: normal;
        }
    }


    h1,
    .h1 {
        font-size: 3em;
        line-height: 1;
    }

    h2,
    .h2 {
        font-size: 2em;
    }

    h3,
    .h3 {
        font-size: 1.5em;
    }

    h4,
    .h4 {
        font-size: 1.3em;
    }

    h5,
    .h5 {
        font-size: 1.2em;
    }

    h6,
    .h6 {
        font-size: 1.1em;
    }

    //////////////////////////////////////////

    .xl {
        font-size: 1.4em;
    }

    .lg {
        font-size: 1.2em;
    }

    .sm {
        font-size: 0.8em;
    }

    .xs {
        font-size: 0.6em;
    }


    //////////////////////////////////////////

    .v-btn {
        letter-spacing: 0.07em;
        font-weight: 700;
        box-shadow: none !important;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;


        .v-btn__content {
            line-height: 1;
            // text-transform: none;
        }

        @media(max-width: 960px) {
            .v-btn__content {
                white-space: normal;
                max-width: 100%;
                line-height: 1.2;
            }
        }

        svg[right] {
            margin-left: 10px;
        }
    }


    blockquote {
        padding: 3%;
        margin: 2%;
        border-left: 3px solid primary;
        background: rgba(#000, 0.05);
    }




    .main-content {
        margin-top: 64px;
        padding-top: 0 !important;
        height: calc(100% - 64px);
        overflow: hidden;


        &>.v-content__wrap {
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
    }


    @media(max-width: 960px) {
        .main-content {
            margin-top: 56px;
            height: calc(100vh - 56px);
        }
    }


   


    .flex-column {
        display: flex;
        overflow: hidden;
        flex: 1;
        flex-direction: column;

        .flex-column-footer,
        .flex-column-header {
            flex: none;
        }

        .flex-column-body {
            @extend .scroll-y;
            flex: 1;
        }
    }


    .footer {


        a {
            color: inherit;
            text-decoration: none;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}




.overflow-y-hidden {
    overflow-y: hidden !important;
}

