<template>
    <v-card min-width="350px" flat>
        <!-- <v-toolbar dense> -->
            <!-- <v-toolbar-title>{{event.title}}</v-toolbar-title> -->
           <!--  <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>favorite</v-icon>
            </v-btn>
            <v-btn icon>
                <v-icon>more_vert</v-icon>
            </v-btn> -->
        <!-- </v-toolbar> -->
        <!-- <v-card-title> -->
            <!-- {{event.title}} -->
        <!-- </v-card-title> -->
        <!-- <v-card-subtitle> -->
            <!-- {{event.firstLine}} -->
        <!-- </v-card-subtitle> -->
        <v-card-text>

            <h5>{{event.title}}</h5>
            <div>{{event.firstLine}}</div>
        </v-card-text>
        <!-- <v-card-actions>
            <v-btn flat color="primary">
                Mark Attendance
            </v-btn>
        </v-card-actions> -->
    </v-card>
</template>
<script>
export default {
    props: {
        'event': {
            type: Object,
        },
    },
}
</script>
<style>
</style>