<template>
    <div class="flex-column">
        <div class="flex-column-body" :class="{'overflow-y-hidden':dialogShowing}">
            <!-- transition="dialog-bottom-transition" -->
            <v-dialog v-model="modalNote" width="500">
                <!-- <v-card> -->
                <!-- <v-card-text v-if="noteContact"> -->
                <v-container style="background: #fff;" v-if="noteContact">
                    <fluro-post-form :title="`Add note`" :options="{labels:{'body':''}, editor:{mentions:{managed:false}}}" :target="noteContact" @created="noteAdded" type="note">
                        <template v-slot:header="{title, form, targetID}">
                            <v-layout>
                                <fluro-avatar left md :id="targetID" type="contact"></fluro-avatar>    
                                <v-flex d-flex>
                                    <h3 title>Add {{form.title}} for {{noteContact ? noteContact.firstName : ''}}</h3>
                                </v-flex>
                            </v-layout>
                        </template>
                        <template v-slot:submit="{hasErrors}">
                            <v-layout>
                                <v-flex shrink>
                                    <v-btn class="ml-0" @click="modalNote = false">Cancel</v-btn>
                                </v-flex>
                                <v-spacer />
                                <v-flex shrink>
                                    <v-btn class="mx-0" :disabled="hasErrors" type="submit" color="primary">
                                        Save
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                        </template>
                        <template v-slot:authenticated>
                            <div class="text-xs-center">
                                You don't have permission to write a note
                            </div>
                        </template>
                        <template v-slot:unauthenticated>
                            <div class="text-xs-center">
                                <!--  <h5>Please Sign </h5>
                            <v-btn color="primary" :to="{name:'user.login'}">
                                Login
                            </v-btn>
                            <v-btn color="primary" :to="{name:'user.signup'}">
                                Signup
                            </v-btn> -->
                            </div>
                        </template>
                    </fluro-post-form>
                </v-container>
                <!-- </v-card-text> -->
                <!-- </v-card> -->
            </v-dialog>
            <!--  -->
            <v-dialog v-model="modalCreate" :fullscreen="true" transition="dialog-bottom-transition">
                <div class="flex-column">
                    <div class="flex-column-header">
                        <v-toolbar class="elevation-0" dark>
                            <v-toolbar-title>
                                Create New Contact
                            </v-toolbar-title>
                            <v-spacer />
                            <v-toolbar-items>
                                <v-btn icon @click="closeModal()">
                                    <fluro-icon icon="times"></fluro-icon>
                                </v-btn>
                            </v-toolbar-items>
                        </v-toolbar>
                    </div>
                    <div class="flex-column-body">
                        <v-container>
                            <fluro-content-panel type="contact" @success="closeModal" v-model="proposedContact"></fluro-content-panel>
                        </v-container>
                    </div>
                    
                </div>
            </v-dialog>
            <!--  -->
            <fluro-page-preloader v-if="loadingContacts || searching || loadingCheckins" />
            <template v-if="!loading">
                <div class="empty-text" v-if="inFuture">
                    <v-container>
                        <constrain>
                            <wrapper>
                                <h1>{{event.title}}</h1>
                                <h4>{{event.firstLine}}</h4>
                                <h3 class="muted">Starting {{event.startDate | formatDate('h:mma ddd D MMM YYYY')}}</h3>
                            </wrapper>
                            <wrapper>
                                <p>Attendance can not be taken until the event has started.</p>
                            </wrapper>
                            <v-btn :to="{name:'home'}">
                                Back
                            </v-btn>
                        </constrain>
                    </v-container>
                </div>
                <template v-else>
                    <div style="background: #fff;">
                        <v-container py-3>
                            <constrain>
                                <div style="float:right;" v-if="$fluro.access.can('create', 'contact', 'contact')">
                                    <v-btn icon color="primary" @click="openModal()">
                                        <!-- <span>Add</span> -->
                                        <fluro-icon icon="plus" />
                                    </v-btn>
                                </div>
                                <h2>{{event.title}}</h2>
                                <h5 class="muted" v-if="event.firstLine">{{event.firstLine}}</h5>
                                <h5 class="muted">{{event | readableEventDate}}</h5>
                                <fluro-realm-dots :realms="event.realms" /> {{event.realms | comma('title')}}
                            </constrain>
                        </v-container>
                    </div>
                    <template v-if="!loadingMetaData">
                        <fluro-search-bar placeholder="Search for people" :debounce="800" v-model="search.terms">
                            <template v-slot:options>
                                <v-container grid-list-lg px-0>
                                    <constrain>
                                        <v-layout row wrap>
                                            <v-flex xs12 sm4 md3 v-for="filter in filters">
                                                <v-select :return-object="true" :label="filter.plural" :multiple="true" v-model="selectedFilters[filter.actualKey]" item-text="title" :items="filter.options"></v-select>
                                            </v-flex>
                                        </v-layout>
                                        <!-- <v-btn small color="grey" flat v-if="activeFilters" @click="resetFilters()">
                                                Reset Filters
                                            </v-btn> -->
                                    </constrain>
                                </v-container>
                            </template>
                        </fluro-search-bar>
                    </template>
                    <template v-if="!loadingContacts">
                        <v-container class="pb-0" :class="{'pa-0': $vuetify.breakpoint.smAndDown}">
                            <constrain>
                                <div class="notice">
                                    {{search.terms.length ? `Searching '${search.terms}' in` : `Showing` }} {{contacts.length}} matching contacts <v-btn small flat v-if="search.terms.length" @click="clearSearch()">Clear Search</v-btn>
                                    <v-btn small flat v-if="activeFilters" @click="resetFilters()">Reset Filters</v-btn>
                                </div>
                            </constrain>
                        </v-container>
                        <v-container :class="{'pa-0': $vuetify.breakpoint.smAndDown}">
                            <constrain>
                                <paged-content :items="grouped" :startPage="currentPage" @change="pageChanged" :per-page="50">
                                    <template slot-scope="props">
                                        <div v-for="household in props.page" class="household">
                                            <div class="household-name">{{household.title}}</div>
                                            <template v-for="(contact, index) in household.contacts">
                                                <div class="contact" :class="{selected:isSelected(contact), 'checked-in':isCheckedIn(contact)}" @click="toggleSelect(contact)">
                                                    <v-layout row>
                                                        <!-- <div style="width:50px; text-align:center">
                                                            <fluro-realm-dots :realms="contact.realms" />
                                                        </div> -->
                                                        <v-flex shrink>
                                                            <fluro-avatar md :id="contact._id" type="contact" />
                                                        </v-flex>
                                                        <v-flex class="nowrap">
                                                            {{contact.lastName}}, {{contact.preferredName || contact.firstName}} <span v-if="contact.ethnicName">{{contact.ethnicName}}</span> <span class="muted" v-if="contact.maidenName">({{contact.maidenName}})</span>
                                                            <!-- <pre>{{contact}}</pre> -->
                                                        </v-flex>
                                                        <v-flex shrink class="check-icon">
                                                            <!-- <fluro-icon library="far" icon="spinner-third" :spin="true"/> -->
                                                            <fluro-icon library="far" icon="spinner-third" :spin="true" v-if="contact.processing" />
                                                            <fluro-icon library="far" icon="check" v-else-if="isCheckedIn(contact)" />
                                                            <fluro-icon library="far" icon="check-circle" v-else-if="isSelected(contact)" />
                                                            <!-- v-if="!isSelected(contact)" -->
                                                            <!-- <fluro-icon  library="far" :icon="getIcon(contact)" /> -->
                                                            <!-- <fluro-icon v-if="isSelected(contact)" library="far" icon="check-circle" /> -->
                                                        </v-flex>
                                                        <v-flex shrink class="icon" @click.stop.prevent="toggleNote(contact)">
                                                            <!-- <v-btn icon flat> -->
                                                            <fluro-icon library="far" icon="times" v-if="noteContact == contact" />
                                                            <fluro-icon library="far" icon="edit" v-if="noteContact != contact" />
                                                            <!-- </v-btn> -->
                                                        </v-flex>
                                                    </v-layout>
                                                </div>
                                                <v-slide-y-transition>
                                                    <v-container style="background: #fff;" v-if="contact == noteContact">
                                                        <fluro-post-form :title="`Add note`" :options="{labels:{'body':''}}" :target="noteContact" @created="noteAdded" type="note">
                                                            <template v-slot:header="{title, form, targetID}">
                                                                <!-- <v-layout> -->
                                                                <!-- <fluro-avatar left md :id="targetID" type="contact"></fluro-avatar>     -->
                                                                <!-- <v-flex d-flex> -->
                                                                <h5 title>Add {{form.title}} for {{noteContact ? noteContact.firstName : ''}}</h5>
                                                                <!-- </v-flex> -->
                                                                <!-- </v-layout> -->
                                                            </template>
                                                            <template v-slot:submit="{hasErrors}">
                                                                <v-layout>
                                                                    <v-flex shrink>
                                                                        <v-btn class="ml-0" @click="modalNote = false; noteContact = false;">Cancel</v-btn>
                                                                    </v-flex>
                                                                    <v-spacer />
                                                                    <v-flex shrink>
                                                                        <v-btn class="mx-0" :disabled="hasErrors" type="submit" color="primary">
                                                                            Save
                                                                        </v-btn>
                                                                    </v-flex>
                                                                </v-layout>
                                                            </template>
                                                            <template v-slot:authenticated>
                                                                <div class="text-xs-center">
                                                                    You don't have permission to write a note
                                                                </div>
                                                            </template>
                                                            <template v-slot:unauthenticated>
                                                                <div class="text-xs-center">
                                                                </div>
                                                            </template>
                                                        </fluro-post-form>
                                                    </v-container>
                                                </v-slide-y-transition>
                                                <span class="breaker" v-if="index != household.contacts.length-1" />
                                            </template>
                                        </div>
                                    </template>
                                </paged-content>
                            </constrain>
                        </v-container>
                    </template>
                </template>
            </template>
            <!-- </constrain> -->
        </div>
        <v-slide-y-reverse-transition>
            <div class="flex-column-footer" v-if="selection.length">
                <template v-if="processing">
                    <v-progress-linear class="ma-0" indeterminate></v-progress-linear>
                </template>
                <template v-else>
                    <div class="selection-footer">
                        <v-container grid-list-xl :class="{'py-1': $vuetify.breakpoint.xsOnly, 'py-2': $vuetify.breakpoint.smAndUp}">
                            <constrain>
                                <v-layout row>
                                    <v-flex>
                                        <v-btn @click="deselectAll()" block>
                                            Deselect
                                        </v-btn>
                                    </v-flex>
                                    <v-flex>
                                        <v-btn color=" primary" block @click="checkinSelected()">
                                            Checkin {{selection.length}}
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </constrain>
                        </v-container>
                    </div>
                </template>
            </div>
        </v-slide-y-reverse-transition>
    </div>
</template>
<!-- <wrapper> -->
<!-- <constrain sm>
            <pre>{{event}}</pre>
        </constrain> -->
<!-- </wrapper> -->
<script>
/////////////////////////////////////////

//Mixin SEO and head
import SEOMixin from '@/mixins/SEOMixin';
import UserMixin from '@/mixins/UserMixin';
import PagedMixin from '@/mixins/PagedMixin';

//Get our components from FluroVue
import { Layout, FluroPostForm, FluroSelectionMixin, FluroSearchBar, FluroIcon, FluroAvatar } from 'fluro-vue-ui';
import FluroContentPanel from '@/components/FluroContentPanel.vue';

/////////////////////////////////////////


import async from 'async';

/////////////////////////////////////////


var defaultFilters = {
    status: [{
        title: 'Active',
        value: 'active'
    }],
}

export default {
    data() {
        return {
            modalCreate: false,
            modalNote: false,
            noteContact: null,
            proposedContact: {},
            processing: false,
            advanced: false,
            loadingMetaData: true,
            loadingContacts: true,
            loadingCheckins: true,
            searching: true,
            loadingEvent: true,
            search: {
                terms: '',
            },
            selectedFilters: _.clone(defaultFilters),
        }
    },
    methods: {
        noteAdded() {
            this.modalNote = false;
            this.noteContact = false;
        },
        toggleNote(contact) {
            if (this.noteContact == contact) {
                this.noteContact = null;
            } else {
                this.noteContact = contact;
            }
            // contact.showNote =

            // this.modalNote = true;
        },
        clearSearch() {
            this.search.terms = '';
        },
        closeModal(newContact) {

            var self = this;

            if (newContact) {
                var contactID = newContact._id;
                var alreadyListed = _.some(self.contacts, { _id: contactID });
                if (!alreadyListed) {
                    self.contacts.push(newContact);
                }
            }
            //Close the modal
            this.modalCreate = false;
        },
        openModal() {
            this.modalCreate = true;


            // this.$fluro.global.create('contact', true)
            //     .then(function(res) {
            //         console.log('Modal Response', res);
            //     }, function(err) {
            //         console.log('Modal Error', err);
            //     })

        },
        toggleSelect(contact) {
            var self = this;
            if (self.isCheckedIn(contact)) {
                return;
            }


            ///////////////////////////////////////////

            if (this.$fluro.access.can('create', 'checkin', 'checkin')) {
                self.toggle(contact);
            }

        },
        isCheckedIn(contact) {

            var contactID = this.$fluro.utils.getStringID(contact);
            return this.checkins[contactID];
            // return contact.checkedIn;
        },
        checkin(contact) {

            if (!this.$fluro.access.can('create', 'checkin', 'checkin')) {
                return;
            }

            var self = this;

            //Get the simple contact ID
            var contactID = this.$fluro.utils.getStringID(contact);

            /////////////////////////////////////


            // console.log('CHECKIN > ', contact);
            contact.processing = true;

            /////////////////////////////////////

            var data = {};



            //Make the request
            var promise = self.$fluro.api.post(`/checkin/${self.event._id}`, {
                contact: contactID,
            });

            /////////////////////////////////////

            promise.then(function(res) {
                self.checkins[contactID] = true;
                contact.processing = false;

            }, function(err) {
                contact.processing = false;
            });

            /////////////////////////////////////

            return promise;
        },
        checkinSelected() {
            // console.log('Get all selected', this.selection);

            var self = this;

            //Set that we are doing some processing
            self.processing = true;

            /////////////////////////////////////

            //Loop through and checkin each selected item (5 at a time)
            async.mapLimit(self.selection, 5, function(item, next) {

                // console.log('ITEM', item);

                return self.checkin(item)
                    .then(function(result) {
                        return next(null, result);
                    }, next);


            }, done);

            /////////////////////////////////////

            function done(err, results) {

                self.processing = false;


                if (err) {
                    console.log(err);
                } else {
                    // console.log('all checked in!', results);
                    self.deselectAll();
                }
            }


        },
        resetFilters() {
            this.selectedFilters = _.clone(defaultFilters);
        },
    },
    computed: {
        dialogShowing() {
            return this.modalNote || this.modalCreate;
        },
        activeFilters() {
            return JSON.stringify(this.selectedFilters) != JSON.stringify(defaultFilters);
        },

        grouped() {

            var self = this;
            return _.chain(self.filtered)
                .orderBy(function(contact) {
                    return contact.firstName;
                })
                .reduce(function(set, contact) {

                    var familyID = self.$fluro.utils.getStringID(contact.family);
                    var familyName = contact.lastName;

                    if (!familyID) {
                        familyID = familyName;
                    }

                    var existing = set[familyID];
                    if (!existing) {
                        existing =
                            set[familyID] = {
                                title: familyName,
                                _id: familyID,
                                contacts: [],
                            }
                    }

                    existing.contacts.push(contact);

                    return set;
                }, {})
                .values()
                .orderBy(function(family) {
                    return family.title;
                })
                .value();
        },
        filters() {

            if (!_.get(this.meta, 'facets')) {
                return [];
            }

            var filters = [];


            /////////////////////////////////////////////////////////

            function addFilter(filter) {
                if (filter.options.length > 1) {
                    filters.push(filter);
                }
            }


            addFilter({
                key: 'status',
                label: `Filter by Status`,
                plural: 'Statuses',
                actualKey: 'status',
                options: _.map(this.meta.facets.status, function(status) {
                    return {
                        title: _.startCase(status),
                        value: status,
                    }
                }),
            })

            addFilter({
                key: 'definition',
                label: `Filter by Definition`,
                plural: 'Definitions',
                options: this.meta.facets.definition,
                actualKey: 'definition',
            })


            /////////////////////////////////////////////////////////


            _.each(this.meta.facets.realms, function(realmSet, key) {
                addFilter({
                    key: key,
                    label: `Filter by ${realmSet.title}`,
                    plural: realmSet.plural,
                    options: realmSet.items,
                    actualKey: 'realms',
                })
            })



            /////////////////////////////////////////////////////////

            _.each(this.meta.facets.tags, function(realmSet, key) {
                addFilter({
                    key: key,
                    label: `Filter by ${realmSet.title}`,
                    plural: realmSet.plural,
                    options: realmSet.items,
                    actualKey: 'tags',
                })
            })

            return filters;
        },
        loading() {
            return this.loadingEvent || this.loadingMetaData || this.loadingCheckins;
        },
        inFuture() {

            if (!this.event) {
                return;
            }

            var startDate = this.event.startDate;
            var checkinStartDate = this.event.checkinStartDate;

            if (checkinStartDate) {
                startDate = checkinStartDate;
            }

            var now = new Date();
            if (now < new Date(startDate)) {
                return true;
            }

        },
        title() {
            return this.publicData.title || this.form.title
        },
        publicData() {
            return this.form.publicData || {};
        }
    },
    components: {
        FluroSearchBar,
        FluroContentPanel,
        FluroPostForm,
        FluroAvatar,
        FluroIcon,
    },
    props: {
        slug: {
            type: String,
        }
    },
    mixins: [SEOMixin, PagedMixin, Layout, UserMixin, FluroSelectionMixin],

    asyncComputed: {
        checkins: {
            default: {},
            get() {


                ////////////////////////////////////////

                var self = this;

                ////////////////////////////////////////

                if (!self.event || !self.event._id) {
                    return;
                }

                ////////////////////////////////////////

                self.loadingCheckins = true;

                return new Promise(function(resolve, reject) {


                    return self.$fluro.api.get(`/checkin/event/${self.event._id}`).then(function(res) {

                        var mapped = _.reduce(res.data, function(set, checkin) {

                            var contactID = self.$fluro.utils.getStringID(checkin.contact);
                            set[contactID] = true;

                            return set;
                        }, {});

                        resolve(mapped);
                        self.loadingCheckins = false;

                    }, function(err) {

                        reject(err);
                        self.loadingCheckins = false;

                    });

                });
            }
        },
        filtered: {
            default: [],
            get() {

                var self = this;
                var terms = self.search.terms;

                self.searching = true;
                //////////////////////////////////////

                return new Promise(function(resolve, reject) {

                    //////////////////////////////////////

                    if (!terms || !terms.length) {
                        self.searching = false;
                        return resolve(self.contacts);
                    }

                    //////////////////////////////////////

                    var options = {
                        shouldSort: true,
                        tokenize: true,
                        matchAllTokens: true,
                        findAllMatches: true,
                        threshold: 0.1,
                        location: 0,
                        distance: 2,
                        maxPatternLength: 32,
                        minMatchCharLength: 2,
                        keys: [
                            "title",
                            "firstName",
                            "lastName",
                            "preferredName",
                            "maidenName",
                            "ethnicName",
                        ]
                    };


                    self.$search(terms.trim(), self.contacts, options)
                        .then(function(res) {
                            // console.log('RES', res);







                            resolve(res);
                            self.searching = false;
                        }, function(err) {

                            resolve([]);
                            self.searching = false;
                        });

                })
            },
        },
        contacts: {
            default: [],
            get() {


                var self = this;
                self.loadingContacts = true;

                return new Promise(function(resolve, reject) {

                    var criteria = {
                        _type: 'contact',
                    }

                    var selectedFilters = self.selectedFilters;

                    /////////////////////////////////

                    if (selectedFilters.status && selectedFilters.status.length) {
                        if (selectedFilters.status.length == 1) {
                            criteria.status = _.map(selectedFilters.status, 'value')[0]
                        } else {
                            criteria.status = {
                                $in: _.map(selectedFilters.status, 'value'),
                            }
                        }

                    }

                    if (selectedFilters.realms && selectedFilters.realms.length) {

                        if (selectedFilters.realms.length == 1) {
                            criteria.realms = _.map(selectedFilters.realms, '_id')[0]
                        } else {
                            criteria.realms = {
                                $in: _.map(selectedFilters.realms, '_id'),
                            }
                        }

                    }

                    if (selectedFilters.definition && selectedFilters.definition.length) {
                        if (selectedFilters.definition.length == 1) {
                            criteria.definition = _.map(selectedFilters.definition, 'definitionName')[0]
                        } else {
                            criteria.definition = {
                                $in: _.map(selectedFilters.definition, 'definitionName'),
                            }
                        }

                    }


                    if (selectedFilters.tags && selectedFilters.tags.length) {
                        if (selectedFilters.tags.length == 1) {
                            criteria.tags = _.map(selectedFilters.tags, '_id')[0]
                        } else {
                            criteria.tags = {
                                $in: _.map(selectedFilters.tags, '_id'),
                            }
                        }

                    }



                    console.log('SELECTED FILTERS', selectedFilters, criteria);

                    /////////////////////////////////

                    return self.$fluro.content.retrieve(criteria, {
                        select: [
                            // 'title',
                            'age',
                            'gender',
                            'title',
                            'firstName',
                            'lastName',
                            'ethnicName',
                            'preferredName',
                            'maidenName',
                            'family',
                            'realms',
                            'definition',
                            'tags',
                        ]
                    }).then(function(res) {

                        _.each(res, function(contact) {
                            contact.processing = false;
                        })

                        resolve(res);
                        self.loadingContacts = false;
                    }, function(err) {

                        reject(err);
                        self.loadingContacts = false;
                    })


                    // return self.$fluro.api.get('/content/contact', {
                    //     fields: [
                    //         // 'title',
                    //         // 'age',
                    //         // 'gender',
                    //         'firstName',
                    //         'lastName',
                    //         'family',
                    //     ]
                    // }).then(function(res) {
                    //     self.loadingContacts = false;
                    //     return resolve(res.data);
                    // }, function(err) {
                    //     self.loadingContacts = false;
                    //     return reject(err);
                    // })

                });



            }
        },
        meta: {
            default: [],
            get() {


                var self = this;
                self.loadingMetaData = true;

                return new Promise(function(resolve, reject) {

                    return self.$fluro.api.get('/content/contact/meta').then(function(res) {
                        self.loadingMetaData = false;
                        return resolve(res.data);
                    }, function(err) {
                        self.loadingMetaData = false;
                        return reject(err);
                    })

                });



            }
        },
        event: {
            default: {},
            get() {


                var self = this;
                self.loadingEvent = true;


                ////////////////////////////////////////

                if (!self.slug || !self.slug.length) {
                    return;
                }

                ////////////////////////////////////

                var promise = self.$fluro.content.slug(self.slug);

                ////////////////////////////////////

                promise.then(function(res) {
                    self.loadingEvent = false;
                }, function(err) {
                    self.loadingEvent = false;
                    // if (window.history.length) {
                    //     self.$router.go(-1)
                    // } else {


                    self.$router.replace({ name: 'home' });
                    // }
                })

                return promise;
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.household {

    .household-name {
        font-size: 0.7em;
        padding: 2px 10px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 500;
        background: rgba(#000, 0.05);
        color: rgba(#000, 0.5);

        @media(min-width: 769px) {
            // border-radius: 50px;
        }
    }

    .breaker {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.notice {
    background: rgba(#000, 0.05);
    padding: 10px;
    text-align: center;
    font-style: italic;
    border-radius: 5px;
    opacity: 0.3;

    // @media(max-width: 1024px) {
    //     margin: 0;
    // }
}

.selection-footer {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}


.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact {
    font-size: 18px;
    padding: 7px 10px 7px 5px;
    line-height: 34px;
    opacity: 0.6;


    // @media(min-width: 769px) {
    //     // margin: 1px 0;
    //     border-radius: 100px;
    // }

    .check-icon {
        opacity: 0.3;
        font-size: 20px;
        line-height: 34px;
        height: 37px;
        width: 50px;
        text-align: center;
    }

    .icon {
        font-size: 20px;
        width: 50px;
        text-align: center;
        height: 34px;
        line-height: 34px;
        opacity: 0.3;

        // @media(min-width: 769px) {
        //     opacity: 0;
        // }
    }

    &:hover {
        .icon {
            opacity: 0.8;
            color: rgba(#000, 1);
        }
    }




    // &:last-child {
    //     border-bottom: none;
    // }

    &.selected {
        background: #fff;
        opacity: 1;
        font-weight: 500;

        .check-icon {
            opacity: 1;
        }
    }

    &.checked-in {
        background: rgba(#000, 0.03);

        opacity: 1;
        color: rgba(#000, 0.2);
        cursor: normal;
        // padding:5px;
        // font-weight: 500;

        .check-icon {
            opacity: 1;
            color: #61d42a;
        }
    }

    .avatar {
        margin-right: 10px;
    }
}

.empty-text {
    text-align: center;
    opacity: 0.5;
}
</style>