<template>
    <!-- <div > -->
    <!-- <v-container fluid pa-0> -->
    <!-- <v-container fluid> -->
    <!-- <div v-if="user"> -->
    <!-- <pre>{{user.refreshToken}}</pre> -->
    <!-- <pre>{{user.token}}</pre> -->
    <!-- </div> -->
    <!-- <v-btn @click="refreshToken()">
                Refresh Token
            </v-btn> -->
    <!-- </v-container> -->
    <!-- <v-container fluid pa-0> -->
    <v-layout class="calendar-wrap">
        <v-progress-linear v-if="loading" indeterminate></v-progress-linear>
        <fluro-page-preloader v-if="loading" />
        <v-flex shrink class="column scroll-y" v-if="$vuetify.breakpoint.smAndUp">
            <v-date-picker v-model="nowDateString" no-title scrollable></v-date-picker>
            <!-- <fluro-filter-block :source="filtered"></fluro-filter-block> -->
            <!-- <filter-block ng-model="search.filters" ng-source="filteredItems" ng-filter-key="filter.key" ng-filter-title="filter.title" ng-repeat="filter in definition.filters"></filter-block>             -->
        </v-flex>
        <v-flex class="column" grow>
            <div class="fluro-events-calendar">
                <div class="calendar-header">
                    <v-layout row wrap>
                        <!-- <v-toolbar-items class="hidden-xs-only"> -->
                        <!-- </v-toolbar-items> -->
                        <v-flex class="calendar-title">
                            {{now | formatDate(calendar.format)}}
                        </v-flex>
                        <v-spacer />
                        <v-toolbar-items class="hidden-xs-only">
                            <v-menu :fixed="true" transition="slide-y-transition" offset-y>
                                <template v-slot:activator="{ on }">
                                    <v-btn small v-on="on">
                                        <fluro-icon library="far" icon="calendar" />&nbsp; {{calendar.value}}
                                    </v-btn>
                                </template>
                                <v-list dense>
                                    <v-list-tile @click="selectCalendarStyle(option)" :key="option.value" v-for="option in calendarOptions">
                                        <v-list-tile-content>{{option.title}}</v-list-tile-content>
                                    </v-list-tile>
                                </v-list>
                            </v-menu>
                        </v-toolbar-items>
                        <v-toolbar-items>
                            <v-btn icon @click="previous()">
                                <fluro-icon library="far" icon="arrow-left" />
                            </v-btn>
                            <v-btn icon @click="next()">
                                <fluro-icon library="far" icon="arrow-right" />
                            </v-btn>
                        </v-toolbar-items>
                    </v-layout>
                </div>
                <div class="calendar-body">
                    <div v-if="listView" ref="list" class="list-view scroll-y">
                        <template v-for="day in listDates">
                            <div class="month-list-item">
                                <v-container fluid :class="{'px-1': $vuetify.breakpoint.xsOnly, 'pa-3': $vuetify.breakpoint.smAndUp}">
                                    <!-- <pre>{{day.key}}</pre> -->
                                    <v-layout row wrap>
                                        <div class="month-list-date">
                                            <strong>{{day.date | formatDate('D')}}</strong>
                                            <span>{{day.date | formatDate('MMM, ddd')}}</span>
                                        </div>
                                        <v-flex>
                                            <v-layout row @click="selectEvent(event)" class="event-list-item" v-for="event in day.events">
                                                
                                                <div class="event-list-item-time hidden-xs-only">{{event | readableEventTime}}</div>
                                                <div class="event-list-item-time visible-sm-and-up">{{event.startDate | formatDate('h:mma')}}</div>
                                                <div class="event-list-dots">
                                                    <fluro-realm-dots :realms="event.realms" />
                                                </div>
                                                <v-flex>
                                                    <div class="event-list-item-title">{{event.title}}</div>
                                                    <div class="event-list-item-subtitle">{{event.firstLine}}</div>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </div>
                        </template>
                        <!--  <pre>{{listDates}}</pre> -->
                        <!-- <v-layout v-repeat="day in listMap"> -->
                        <!-- <v-flex> -->
                        <!-- {{day[0].datestamp | formatDate('D')}} {{day[0].datestamp | formatDate('MMM, ddd')}} -->
                        <!-- </v-flex> -->
                        <!-- </v-layout> -->
                        <!-- <template v-for="event in eventMap[nowDateString]"> -->
                        <!-- <pre>{{event.title}}</pre> -->
                        <!-- </template> -->
                    </div>
                    <template v-else>
                        <v-calendar :type="calendar.value" ref="calendar" v-model="nowDateString" color="primary">
                            <template v-slot:day="{ date }">
                                <template v-for="event in eventMap[date]">
                                    <div v-ripple :style="{backgroundColor:event.bgColor, borderColor:event.borderColor, color:event.color}" class="event-pill" @click="selectEvent(event)">
                                        <!-- <fluro-realm-dots :realms="event.realms" /> -->
                                        <div class="time" style="float:right" v-if="event.multiDay">{{event | readableEventTime}} </div>
                                        <div class="time" style="float:right" v-if="!event.multiDay">{{event.startDate | formatDate('h:mma')}} </div>
                                        {{event.title}}
                                    </div>
                                </template>
                            </template>
                            <!-- the events at the top (all-day) -->
                            <template v-slot:dayHeader="{ date }">
                                <template v-for="event in eventMap[date]" v-if="event.multiDay">
                                    <!-- all day events don't have time -->
                                    <!-- <v-menu :key="event._id" v-model="event.open" full-width offset-x> -->
                                    <!-- <template v-slot:activator="{ on }"> -->
                                    <!-- v-on="on" -->
                                    <div v-ripple :style="{backgroundColor:event.bgColor, borderColor:event.borderColor, color:event.color}" :class="{open:event.open}" @click="selectEvent(event)" class="event-pill single-line">
                                        <!-- <fluro-realm-dots :realms="event.realms" /> -->
                                        {{event.title}}
                                        <span class="time">{{event | readableEventTime}} </span>
                                    </div>
                                    <!-- </template> -->
                                    <!-- <v-card color="grey lighten-4" min-width="350px" flat>
                                            <v-toolbar color="primary" dark>
                                                <v-btn icon>
                                                    <v-icon>edit</v-icon>
                                                </v-btn>
                                                <v-toolbar-title v-html="event.title"></v-toolbar-title>
                                                <v-spacer></v-spacer>
                                                <v-btn icon>
                                                    <v-icon>favorite</v-icon>
                                                </v-btn>
                                                <v-btn icon>
                                                    <v-icon>more_vert</v-icon>
                                                </v-btn>
                                            </v-toolbar>
                                            <v-card-title primary-title>
                                                <span v-html="event.details"></span>
                                            </v-card-title>
                                            <v-card-actions>
                                                <v-btn flat color="secondary">
                                                    Cancel
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card> -->
                                    <!-- </v-menu> -->
                                </template>
                            </template>
                            <!-- the events at the bottom (timed) -->
                            <template v-slot:dayBody="{ date, timeToY, minutesToPixels }">
                                <template v-if="timeMap[date]">
                                    <template v-for="block in timeMap[date].slots">
                                        <!-- full-width -->
                                        <v-menu :key="block.guid" v-model="block.open" full-width offset-x>
                                            <template v-slot:activator="{ on }">
                                                <v-layout v-on="on" :style="{ top: timeToY(block.time) + 'px', height: minutesToPixels(block.duration) + 'px'}" class="timeslot " :class="[{open:block.open}, `indent-${block.indent}`]">
                                                    <!-- <pre v-for="event in block[block.time].events">{{event}}</pre> -->
                                                    <v-flex :key="event.guid" v-for="event in block.events">
                                                        <div class="event-pill" :style="{backgroundColor:event.bgColor, borderColor:event.borderColor, color:event.color, height: minutesToPixels(event.duration) + 'px'}">
                                                            {{event.title}}
                                                            <div class="time" v-if="!event.multiDay">{{event.startDate | formatDate('h:mma')}} </div>
                                                            <!-- {{event.time}} - {{event.duration}} -->
                                                        </div>
                                                    </v-flex>
                                                </v-layout>
                                            </template>
                                            <template>
                                                <div>
                                                    <v-toolbar dense>
                                                        <v-toolbar-title>{{block.title}}</v-toolbar-title>
                                                    </v-toolbar>
                                                    <fluro-list-item @click.native="selectEvent(event)" style="{cursor: pointer;}" :item="event" v-for="event in block.events"></fluro-list-item>
                                                    <!-- <calendar-card :event="event" v-for="event in block.events"></calendar-card> -->
                                                </div>
                                            </template>
                                        </v-menu>
                                    </template>
                                </template>
                            </template>
                        </v-calendar>
                    </template>
                </div>
                <!-- </v-sheet> -->
            </div>
        </v-flex>
    </v-layout>
    <!-- </v-container> -->
    <!-- </v-container> -->
    <!-- </div> -->
</template>
<script>
import _ from 'lodash';
import moment from 'moment';

/////////////////////////////////////////

//Mixin SEO and head
import SEOMixin from '@/mixins/SEOMixin';
import UserMixin from '@/mixins/UserMixin';
import ScrollRemember from '@/mixins/ScrollRemember';

//Get our components from FluroVue
import { Layout, FluroContentForm, FluroRealmDots, FluroListItem } from 'fluro-vue-ui';
import CalendarCard from '@/components/CalendarCard.vue';

/////////////////////////////////////////
/**
function LightenDarkenColor(col, amt) {
  
    var usePound = false;
  
    if (col[0] == "#") {
        col = col.slice(1);
        usePound = true;
    }
 
    var num = parseInt(col,16);
 
    var r = (num >> 16) + amt;
 
    if (r > 255) r = 255;
    else if  (r < 0) r = 0;
 
    var b = ((num >> 8) & 0x00FF) + amt;
 
    if (b > 255) b = 255;
    else if  (b < 0) b = 0;
 
    var g = (num & 0x0000FF) + amt;
 
    if (g > 255) g = 255;
    else if (g < 0) g = 0;
 
    return (usePound?"#":"") + (g | (b << 8) | (r << 16)).toString(16);
  
}
/**/

/////////////////////////////////////////

var day = 86400 * 1000;
var buffer = 60 * day;

/////////////////////////////////////////


var calendarOptions = [{
        title: 'Day',
        value: 'day',
        format: 'dddd D MMMM YYYY'
    },
    {
        title: 'Week',
        value: 'week',
        format: '[Week] W YYYY'
    },
    {
        title: 'Month',
        value: 'month',
        format: 'MMMM YYYY'
    },
    {
        title: 'List',
        value: 'list',
        format: 'MMMM YYYY'
    },
]


/////////////////////////////////////////

export default {
    name: 'home',
    props: {
        defaultView: {
            type: String,
            default: 'month',
        },
        defaultDate: {
            type: String,
        }
    },
    components: {
        CalendarCard,
        FluroContentForm,
        FluroRealmDots,
        FluroListItem
    },
    mounted() {


        // this.$refs.calendar.scrollToTime('08:00')

    },
    mixins: [SEOMixin, UserMixin, Layout, ScrollRemember],
    data() {


        var defaultCalendarOption = _.find(calendarOptions, {
            value: this.defaultView,
        })

        return {
            loading: false,
            start: null, //defaultStartDate,
            end: null, //defaultEndDate,
            nowDate: null, //now,
            eventMap: {},
            timeMap: {},
            monthMap: {},
            calendar: defaultCalendarOption,
            calendarOptions: calendarOptions,
        }
    },
    watch: {
        'filtered': 'remap',
        // '$route.defaultView + $route.defaultDate': 'routeChanged',
        // '$route.defaultDate': 'routeChanged',
    },
    mounted() {
        var self = this;

        console.log('REFS', self.$refs);
        _.each(self.$refs, self.attachScrollListener);
    },
    created() {


        var self = this;

        this.$watch(function() {
            // return JSON.stringify(self.$route.query);
            return self.defaultView, self.defaultDate;
        }, self.routeChanged);

        this.routeChanged();
    },
    computed: {
        listDates() {

            var self = this;
            var currentMonth = this.monthMap[this.nowMonthString];

            if (!currentMonth) {
                return;
            }

            /////////////////////////////////////////////////

            return _.map(currentMonth.dates, function(array, dateKey) {
                return {
                    date: moment(dateKey).toDate(),
                    events: array,
                    key: dateKey,
                }
            });



        },
        listView() {
            return this.$vuetify.breakpoint.xsOnly || this.calendar.value == 'list';
        },
        filtered() {
            return this.events;
        },
        readableStartDate() {
            return this.$fluro.date.formatDate(this.start);
        },
        readableEndDate() {
            return this.$fluro.date.formatDate(this.end);
        },
        //We need the dates as strings for vuetify's datepicker component
        //not exactly sure why but this lets us bind the component to the date correctly
        nowDateString: {
            get() {
                return this.stringDate(this.now);
            },
            set(value) {
                return this.now = new Date(value);
            }
        },
        now: {
            get() {
                return this.nowDate;
            },
            set(date) {

                var dateString = this.stringDate(date);
                this.$router.push({ query: Object.assign({}, this.$route.query, { date: dateString }) });

                this.nowDate = date;
            },
        },
        nowMonthString() {
            return this.$fluro.date.formatDate(this.now, 'MMM YYYY');
        },
    },
    methods: {
        selectEvent(event) {
            this.$fluro.global.view(event);
        },
        routeChanged() {


            if (this.paused) {
                return console.log('Paused no change!')
            }

            ////////////////////////////////////////////

            var now;

            if (this.defaultDate) {
                //Parse the selected date
                // console.log('DEFAULT DATE IS', this.defaultDate);
                // now = new Date();
                now = moment(this.defaultDate, 'YYYY-MM-DD').toDate();

            } else {
                now = new Date();
            }

            ////////////////////////////////////////////

            var defaultStartDate = new Date(now.getTime() - buffer);
            var defaultEndDate = new Date(now);

            ////////////////////////////////////////////

            var defaultCalendarOption = _.find(this.calendarOptions, {
                value: this.defaultView,
            })

            ////////////////////////////////////////////

            this.calendar = defaultCalendarOption;
            this.start = defaultStartDate;
            this.end = defaultEndDate;
            this.now = now;

            if(this.$refs.list) {
                console.log('Reset to top')
                this.$refs.list.scrollTop =0;
            }

        },
        selectCalendarStyle(option) {

            this.calendar = option;
            // this.calendar.format = option.format;
            // this.calendar.value = option.value;

            // console.log('SET QUERY TO', option.title, option.value, option.format);
            this.$router.push({ query: Object.assign({}, this.$route.query, { view: option.value }) });
        },
        enumerateDaysBetweenDates(startDate, endDate) {

            startDate = new Date(startDate);
            startDate.setHours(0, 0, 0, 0);

            endDate = new Date(endDate);
            endDate.setHours(0, 0, 0, 0);


            //////////////////////////////

            var self = this;
            var now = new Date(startDate);
            var dates = [];

            //////////////////////////////

            while (now <= endDate) {
                dates.push(self.stringDate(now));
                now.setDate(now.getDate() + 1);
                // now.add(1, 'days');
            }


            //////////////////////////////

            return dates;
        },
        setToday() {
            this.now = new Date();
        },
        remap(events) {

            var self = this;
            var data = _.chain(events)
                .map(function(event) {

                    if (!event.multiDay) {
                        return event;
                    }

                    var days = self.enumerateDaysBetweenDates(event.startDate, event.endDate);
                    // days.push(self.stringDate(event.endDate))

                    // console.log('DAYS', event.title, self.stringDate(event.endDate), '||', days);

                    return _.map(days, function(day) {
                        var e = _.clone(event);

                        var firstDay = (day == self.stringDate(event.startDate));
                        var lastDay = (day == self.stringDate(event.endDate));



                        //If it's not the first day of the multi day event
                        //then the start is the start of the day
                        if (!firstDay) {
                            e.time = '00:00';
                        }

                        // console.log(firstDay, lastDay, event.title,  self.stringDate(event.endDate), day, event.endDate);
                        //If it's the last day
                        if (lastDay) {

                            //Get the start of the last day
                            var start = new Date(event.endDate);
                            start.setHours(0, 0, 0, 0);

                            //Get the end of the event
                            var end = new Date(event.endDate);


                            //The duration should be the end minus the start
                            e.duration = (end - start) / 1000 / 60;
                            // console.log('START AND END', start, end, e.duration)
                        }

                        e.guid = self.$fluro.utils.guid();
                        e.date = day;

                        return e;
                    });
                })
                .flatten()
                .orderBy(function(event) {
                    return new Date(event.startDate);
                })
                .reduce(function(set, event) {



                    //Get the date of the event
                    var eventDate = event.date;
                    var eventTime = event.time;
                    var startDate = event.startDate;
                    var endDate = event.endDate;

                    /////////////////////////////////////////////////

                    //Add the month as a key so we can group it later
                    var month = self.$fluro.date.formatDate(event.startDate, 'MMM YYYY');
                    // var monthDate = self.$fluro.date.formatDate(event.startDate, 'D MMM YYYY');
                    event.month = month;


                    var existingMonthEntry = set.months[month];
                    if (!existingMonthEntry) {
                        existingMonthEntry =
                            set.months[month] = {
                                title: month,
                                dates: {},
                            }
                    }



                    /////////////////////////////////////////////////

                    var existingDateEntry = set.events[eventDate];
                    if (!existingDateEntry) {
                        existingDateEntry =
                            set.events[eventDate] =
                            set.months[month].dates[eventDate] = [];



                    }

                    //Add the event
                    existingDateEntry.push(event);


                    // /////////////////////////////////////////////////

                    // var existingMonthDateEntry = set.months[month].dates[monthDate];
                    // if (!existingMonthDateEntry) {
                    //     existingMonthDateEntry =
                    //         set.months[month].dates[monthDate] = {};   
                    // }

                    // //Add the event
                    // set.months[month].dates[monthDate][event._id] = event;




                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////



                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////

                    var existingDateTimeEntry = set.times[eventDate];
                    if (!existingDateTimeEntry) {
                        existingDateTimeEntry = set.times[eventDate] = {
                            slots: [],
                            map: {},
                        }
                    }

                    /////////////////////////////////////////////////

                    var blockTitle = self.$fluro.date.formatDate(event.startDate, 'h:mma dddd D MMMM')

                    /////////////////////////////////////////////////

                    var previousSlots = existingDateTimeEntry.slots;

                    var existingTimeSlot = existingDateTimeEntry.map[eventTime];
                    if (!existingTimeSlot) {

                        existingTimeSlot = existingDateTimeEntry.map[eventTime] = {
                            guid: self.$fluro.utils.guid(),
                            title: blockTitle,
                            time: eventTime,
                            events: [],
                            endDate,
                            startDate,
                            indent: 0,
                            open: false,

                        };


                        //Check if there is a clash with another event so we can indent if we need to
                        var clash = _.findLast(previousSlots, function(slot) {
                            return slot.endDate > existingTimeSlot.startDate;
                        })

                        /////////////////////////////////////////////////
                        if (clash) {
                            existingTimeSlot.indent = (clash.indent + 1);
                        }

                        /////////////////////////////////////////////////

                        existingDateTimeEntry.slots.push(existingTimeSlot);
                    }

                    /////////////////////////////////////////////////

                    if (endDate > existingTimeSlot.endDate) {
                        existingTimeSlot.endDate = endDate;
                    }

                    /////////////////////////////////////////////////

                    //Add the timeslot
                    existingTimeSlot.events.push(event);

                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////
                    /////////////////////////////////////////////////


                    return set;
                }, { events: {}, times: {}, months: {}, })
                .value();



            ///////////////////////////////////////////////////////

            self.eventMap = data.events;
            self.timeMap = data.times;
            self.monthMap = data.months;


        },
        next() {

            var newMoment;

            switch (this.calendar.value) {
                case 'week':
                    //Get the earlier date
                    newMoment = moment(this.now).add(1, 'weeks');
                    break;
                case 'list':
                case 'month':
                    //Get the earlier date
                    newMoment = moment(this.now).add(1, 'months');
                    break;
                case 'day':
                    //Get the earlier date
                    newMoment = moment(this.now).add(1, 'day');
                    break;
            }


            this.now = newMoment.toDate();

        },
        previous() {

            var newMoment;

            switch (this.calendar.value) {
                case 'week':
                    //Get the earlier date
                    newMoment = moment(this.now).subtract(1, 'weeks');
                    break;
                case 'list':
                case 'month':
                    //Get the earlier date
                    newMoment = moment(this.now).subtract(1, 'months');
                    break;
                case 'day':
                    //Get the earlier date
                    newMoment = moment(this.now).subtract(1, 'day');
                    break;
            }


            this.now = newMoment.toDate();

        },
        refreshToken() {
            console.log('Request Refresh')
            this.$fluro.auth.refreshAccessToken(this.user.refreshToken);
        },
        stringDate(date) {

            // var string = new Date(date).toISOString().substr(0, 10);
            var string = this.$fluro.date.formatDate(date, 'YYYY-MM-DD'); //new Date(date).toISOString().substr(0, 10);

            // console.log('STRING DATES', string);

            return string;
        }
    },
    asyncComputed: {
        events: {
            default: [],
            get() {
                var self = this;
                self.loading = true;

                if (!self.now) {
                    return;
                }


                /////////////////////////////////////////////////

                var dateBufferStart = new Date(self.now.getTime() - buffer);
                var dateBufferEnd = new Date(self.now.getTime() + buffer);

                /////////////////////////////////////////////////

                var criteria = {
                    _type: 'event',
                    startDate: {
                        $lte: dateBufferEnd,
                    },
                    endDate: {
                        $gte: dateBufferStart,
                    },
                    status: {
                        $in: ['active', 'archived'],
                    }
                }

                /////////////////////////////////////////////////

                return new Promise(function(resolve, reject) {


                    /////////////////////////////////////////////////

                    return self.$fluro.content.retrieve(criteria, { select: 'title startDate endDate realms slug firstLine _type definition' })
                        .then(function(events) {

                            var mapped = _.chain(events)
                                .orderBy(function(event) {
                                    return event.datestamp;
                                })
                                .map(function(event, index) {


                                    var firstRealm = _.chain(event.realms)
                                        .filter(function(realm) {
                                            return realm.bgColor;
                                        })
                                        .last()
                                        .value();

                                    var bgColor = _.get(firstRealm, 'bgColor');

                                    // console.log(bgColor, borderColor);

                                    var color = _.get(firstRealm, 'color');
                                    var borderColor = color; //LightenDarkenColor(bgColor, -20);

                                    /////////////////////////////////////////////////////////////////////

                                    var time = self.$fluro.date.formatDate(event.startDate, 'HH:mm');

                                    /////////////////////////////////////////////////////////////////////

                                    var startDate = new Date(event.startDate).getTime();
                                    var endDate = new Date(event.endDate).getTime();

                                    /////////////////////////////////////////////////////////////////////

                                    var duration = (endDate - startDate) / 1000 / 60;
                                    if (startDate == endDate) {
                                        duration = 90;
                                    }

                                    /////////////////////////////////////////////////////////////////////


                                    event.duration = duration;
                                    event.time = time;
                                    event.date = self.stringDate(event.startDate);
                                    event.open = false;
                                    event.borderColor = borderColor;
                                    event.bgColor = bgColor;
                                    event.color = color;
                                    event.datestamp = startDate;
                                    event.index = events.length - index;
                                    event.guid = event._id;

                                    // if (event.title == 'State Youth Games Weekend') {
                                    event.multiDay = self.$fluro.date.isMultiDayEvent(event);



                                    return event;

                                    // return {
                                    //     _id: event._id,
                                    //     title: event.title,
                                    //     details: event.firstLine,
                                    //     date: self.stringDate(event.startDate),
                                    //     time,
                                    //     startDate: event.startDate,
                                    //     endDate: event.endDate,
                                    //     duration,
                                    //     open: false,
                                    //     bgColor,
                                    //     color,
                                    //     realms: event.realms,
                                    // }
                                })

                                .value();


                            /////////////////////////////////////////////////////////////////////

                            resolve(mapped);
                            self.loading = false;

                        }).catch(function(err) {


                            reject(err);
                            self.loading = false;
                        });
                });
            }
        }
    },
    activated() {
        self.paused = false;
    },
    deactivated() {
        self.paused = true;
    },
}
</script>
<style lang="scss">
.fluro-events-calendar {
    flex: 1;

    .v-calendar-monthly {
        .v-calendar-weekly__week {
            overflow: hidden;

            .v-calendar-weekly__day {
                overflow: auto !important;
            }
        }


        .v-calendar-weekly__day-label {
            font-size: 20px;
            font-weight: 100;
        }

        .v-calendar-weekly__day-month {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.05em;
            font-size: 10px;
        }
    }
}
</style>
<style lang="stylus" scoped>
.fluro-events-calendar {
    overflow: hidden;
    display: flex;
    flex-direction: column;




    .calendar-header {
        position: relative;
        padding: 10px 15px;
        background: #f5f5f5;
        border-bottom: 1px solid rgba(#000, 0.1);
        flex: none;
        // color: #eee;




        .calendar-title {
            font-weight: 500;
            line-height: 36px;
            font-size: 1.2em;
        }

        .v-btn {
            margin: 0 10px;

            & /deep/ .v-btn__content {
                padding: 10px 0;
                height: 36px;
            }
        }
    }

    .calendar-body {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .v-calendar {
            overflow: hidden;




            &.v-calendar-monthly {
                overflow: auto !important;
                -webkit-overflow-scrolling: touch;



                // position: relative;

                // .v-calendar-weekly__head {
                //     position: absolute;
                //     left:0;
                //     top:0;
                //     right:0;
                // }
            }
        }
    }
}






.calendar-wrap {
    overflow: hidden;
    position: relative;


    .v-progress-linear {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 4px !important;
    }
}


.column {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.timeslot {
    position: absolute;
    // border: 1px solid red;
    // width: 100%;
    max-width: 100%;
    overflow: hidden;


    &.open {
        z-index: 7;
    }


    &.indent-0 {}

    &.indent-1 {
        margin-left: 10%;
        max-width: 90%;

        .event-pill {
            margin: 0;
            border: 1px solid;
        }
    }

    &.indent-2 {
        margin-left: 20%;
        max-width: 80%;

        .event-pill {
            margin: 0;
            border: 1px solid;
        }
    }

    &.indent-3 {
        margin-left: 30%;
        max-width: 70%;

        .event-pill {
            margin: 0;
            border: 1px solid;
        }
    }

    &.indent-4 {
        margin-left: 40%;
        max-width: 60%;

        .event-pill {
            margin: 0;
            border: 1px solid;
        }
    }


    .flex {
        overflow: hidden;
        //    &:hover {
        //     z-index: 100000000000;
        // }
    }

    .event-pill {

        //     opacity: 0.9;


    }


}


.month-list-item {
    border-bottom: 1px solid rgba(#000, 0.1);
    background: #fff;

    .month-list-date {
        width: 10%;
        min-width: 130px;
        white-space: nowrap;
        line-height: 40px;


        strong {
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: 100;
            width: 40px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
        }

        span {
            font-size: 0.8em;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            opacity: 0.5;
            display: inline-block;
            vertical-align: middle;
            width: 80px;
        }


    }


    @media(max-width: 768px) {
        .month-list-date {
            width: 100%;
        }
    }


    .event-list-item {
        // line-height: 28px;
        min-height: 28px;
        padding: 5px 10px;
        border-radius: 100px;
        cursor: pointer;

        &:hover {
            background: rgba(#000, 0.02);
        }

        .event-list-dots {
            width: 50px;
            flex: none;
        }

        .event-list-item-time {
            // font-weight: bold;
            // width:15%;
            width: 150px;
            opacity: 0.8;
            flex: none;
        }

        .event-list-item-title {
            font-weight: 500;
        }

        .event-list-item-subtitle {
            font-size: 0.9em;
            opacity: 0.5;
        }

        @media(max-width: 768px) {

            padding: 10px 5px;

            .event-list-item-time {
                width: 50px;
                font-size: 0.8em;
                line-height: 21px;
                overflow: hidden;
            }

            .event-list-dots {
                text-align: center;
                width: 30px;
                overflow: hidden;

                .dots {
                    margin: 0;
                    display: inline-block;
                }
            }
        }
    }
}

.event-pill {
    position: relative;
    margin: 2px;
    overflow: hidden;
    min-height: 25px;
    // white-space: nowrap;
    border-radius: 3px;
    // border:0px solid transparent;
    background-color: #fff;
    // color: #ffffff;
    // border: 1px solid #1867c0;
    font-size: 12px;
    padding: 3px 5px;
    cursor: pointer;
    margin-bottom: 1px;
    box-shadow: 1px 1px 1px rgba(#000, 0.3);
    transition: all 0.3s;

    &.single-line {
        white-space: nowrap;
    }


    &.with-time {
        position: absolute;
        // max-width: 100%;
        // overflow: hidden;
        // right: 4px;
        // margin-right: 0px;
        white-space: nowrap;
    }

    .time {

        font-size: 0.9em;
        opacity: 0.5;
    }

    &:hover {
        opacity: 0.9;
        box-shadow: 1px 1px 1px rgba(#000, 0.5);
        //     .time {
        //         opacity: 1;
        //     }
    }


    // .time {
    //     display: none;
    //     position: absolute;
    //     top: 3px;
    //     right: 3px;
    //     max-width: 90%;
    //     // float: right;
    //     font-size: 0.7em;
    //     border-radius: 2px;
    //     background: #000;//rgba(#000, 0.2);
    //     color: #fff;
    //     padding: 3px 5px;
    //     display: inline-block;
    //     font-weight: bold;
    //     line-height: 1;
    //     opacity: 0;
    //     overflow: hidden;
    // }

    // &:hover {
    //     .time {
    //         opacity: 1;
    //     }
    // }
}
</style>