<template>
    <!-- <wrapper> -->
    <v-container scroll-y fluid pa-0>
        <fluro-page-preloader v-if="!loaded" />
        <v-container class="page-header">
            <h1>Accounts</h1>
        </v-container>
        <fluro-search-bar placeholder="Search accounts" :debounce="800" v-model="search">
            <!-- <template v-slot:options>
                <v-container grid-list-lg px-0>
                    <constrain>
                        <v-layout row wrap>
                            <v-flex xs12 sm4 md3 v-for="filter in filters">
                                <v-select :return-object="true" :label="filter.plural" :multiple="true" v-model="selectedFilters[filter.actualKey]" item-text="title" :items="filter.options"></v-select>
                            </v-flex>
                        </v-layout>
                        <v-btn small color="grey" flat v-if="activeFilters" @click="resetFilters()">
                            Reset Filters
                        </v-btn>
                    </constrain>
                </v-container>
            </template> -->
        </fluro-search-bar>
        
        <v-container pa-0 v-if="accounts.length">
            <!-- <v-card> -->
                <!-- <v-card-title> -->
                    <!-- Accounts -->
                    <!-- <v-spacer></v-spacer> -->
                    <!-- <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field> -->
                <!-- </v-card-title> -->
                <!-- :headers="headers" -->
                <v-data-table :hide-headers="true" :disable-initial-sort="true" :rows-per-page-items="pageOptions"  :items="filtered" class="elevation-0">
                    <template v-slot:items="props">
                        <td><strong>{{ props.item.title }}</strong></td>
                        <td class="text-xs-right">
                            <v-btn flat color="primary" @click="changeAccount(props.item)">
                                <span>Sign In</span>
                                <font-awesome-icon right :icon="['fas', 'arrow-right']" />
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
            <!-- </v-card> -->
        </v-container>
    </v-container>
    <!-- </wrapper> -->
</template>
<script>
// import { mapGetters, mapMutations } from 'vuex';
import _ from 'lodash';

import SEOMixin from '@/mixins/SEOMixin';
import UserMixin from '@/mixins/UserMixin';
import PagedMixin from '@/mixins/PagedMixin';
import { Layout, FluroSearchBar } from 'fluro-vue-ui';


export default {
    mixins: [SEOMixin, PagedMixin, UserMixin, Layout],
    components: {
        FluroSearchBar,
    },
    data() {
        return {
            search: '',
            // filtered:[],
            pageOptions: [10, 25, 50, 100],
            // headers: [{
            //         text: 'Account Name',
            //         align: 'left',
            //         sortable: true,
            //         value: 'title',
                // },
                // {
                //     text: 'Actions',
                //     // align:'left',
                //     sortable: false,
                //     value: '_id',
                // },
                // {
                // text: 'Created',
                // align:'left',
                // sortable:true,
                // value:'title',
                // }
            // ],
            loaded: false,
            accounts: [],
        }
    },
    created() {

        var self = this;

        if (self.routeSearch && self.routeSearch.component) {
            self.routeSearch.component.$on('search', (keywords) => {
                // do something with the data
                self.search = keywords
            });
        }

        return self.retrieveAccounts()
    },
    computed: {
        routeSearch() {
            return _.get(this, '$route.meta.search');
        },
    },
    asyncComputed: {

        filtered: {
            default: [],
            get() {

                var self = this;
                var terms = self.search;
                //////////////////////////////////////

                return new Promise(function(resolve, reject) {

                    //////////////////////////////////////

                    if (!terms || !terms.length) {
                        return resolve(self.accounts);
                    }

                    //////////////////////////////////////

                    var options = {
                        shouldSort: true,
                        tokenize: true,
                        matchAllTokens: true,
                        findAllMatches: true,
                        threshold: 0.3,
                        location: 0,
                        distance: 2,
                        maxPatternLength: 32,
                        minMatchCharLength: 5,
                        keys: [
                            "title"
                        ]
                    };


                    self.$search(terms, self.accounts, options)
                        .then(function(res) {

                            
                            // console.log('RES', res);
                            return resolve(res);
                        }, function(err) {
                            return resolve([]);
                        });

                })
            }
        }
    },
    methods: {
        changeAccount(account) {

            var self = this;

            var currentAccountID = _.get(self, 'user.account._id');
            if (currentAccountID == account._id) {
                return complete();
            }

            //////////////////////////////////

            var promise = self.$fluro.auth.changeAccount(account);

            //////////////////////////////////

            promise.then(complete, function(err) {

                console.log('ERROR', err)
                var message = self.$fluro.utils.errorMessage(err);
            })

            //////////////////////////////////

            function complete() {

                console.log('Switched into', account.title);

                //Go to the home page
                self.$router.push({
                    name: 'home',
                })
            }
        },
        retrieveAccounts() {

            var self = this;

            if (!self.user) {
                return;
            }

            self.loaded = false;





            var promise = self.$fluro.api.get('/user/accounts', {

            });

            promise.then(function(res) {
                

                self.accounts = _.orderBy(res.data, function(account) {
                                return account.title;
                            })
                self.loaded = true;
            }, function(err) {
                console.log('ERROR!', err);
                self.loaded = true;
            })
        }
    }
}
</script>
<style>
</style>